<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Test</title>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

        <script src="../../Scripts/Home/Service.js"></script>
        <script src="../../Scripts/Home/ViewModel.js"></script>
        <script src="../../Scripts/Home/Controller.js"></script>

        <script src="../../Scripts/App.js"></script>
    </head>
    <body>
        <table id="currentTable" class="display"></table>
    </body>
</html>
