<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
	<h3>Play</h3>
  </body>
</html>

<h1>Ranking:</h1>
<table class="table-chart">
    <thead class="table-chart-head-row">
        <tr>
            <th>Add as a friend</th>
            <th>Place</th>
            <th>Username</th>
            <th>Level</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody class="table-chart-body-row">
            <tr class="table-row">
                <td class="table-data">
                     btn add as a friend
                </td>
                <td class="table-data">
                     index
                </td>
                <td class="table-data">
                    username
                </td>
                <td class="table-data">
                    level
                </td>
                <td class="table-data">
                    points
                </td>
            </tr>
    </tbody>
</table>