<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HangMan</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../style/style.css" rel="stylesheet">
        <link href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>   
        <script src="../../js/Home/Service.js"></script>
        <script src="../../js/Home/ViewModel.js"></script>
        <script src="../../js/Home/Controller.js"></script>
        <script src="../../js/App.js"></script>
        <script src="../../js/domManipulation.js"></script>
        <script src="../../js/user.js"></script>
        
        
        
    </head>
    <body class="container"> 
    <header id="page-header" class="row" >
    
    </header>
    <nav id="page-nav" class="row">

    </nav>
    <main id="page-main" class="row">
        <section id="pageSection" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div>
                <h1>Ultimate HangMan</h1>
                <p>Info about the game</p>
                
            </div>
        </section>
        <aside id="page-aside" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        </aside>
    </main>
    <footer id="page-footer" class="row">
        <div id="footer-copyright">
            <span class="copyright">&copy; 2017 Telerik Academy </span>
        </div>
    </footer>
    </body>
</html>