<table class="table-chart">
    <thead class="table-chart-head-row">
        <tr>
            <th>Add as a friend</th>
            <th>Place</th>
            <th>Username</th>
            <th>Level</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody class="table-chart-body-row">
        {{#if list.length}} 
        {{#collection}}
            <tr class="table-row">
                <td class="table-data">
                    // button add as a friend
                </td>
                <td class="table-data">
                    //  {{@index}}
                </td>
                <td class="table-data">
                    {{username}}
                </td>
                <td class="table-data">
                    {{level}}
                </td>
                <td class="table-data">
                    {{points}}
                </td>
            </tr>
        {{/collection}}
        {{/if}}
    </tbody>
</table>