<form id="ajax-sign-in" method="POST" action="#">
    <h1>Sign in:</h1>  
    <div class="sign-in-field">
        <input type="text" id="sign-in-username" name="sign-in-username" placeholder="Username/email" maxlength="30" required>
        <span>&#42;</span>
    </div>
    <div class="sign-in-field">
        <input type="password" id="sign-in-password" name="sign-in-password" placeholder="Password" maxlength="30" required>
        <span>&#42;</span>
    </div>
    <div class="sign-in-submit-btn">
        <button type="submit" id="sign-in-submit">Sign in</button>
    </div>

    <div class="sign-in-register-btn">
        <button type="submit" id="sign-in-register">Register</button>
    </div>
</form>