
<h3>Ranking:</h3>
<table class="table-chart table table-striped table-bordered table-responsive">
    <thead class="table-chart-head-row">
        <tr>
            <th>Place</th>
            <th>Username</th>
            <th>Level</th>
            <th>Points</th>
        </tr>
    </thead>
   <tbody id="tbody" class="table-chart-body-row">
           <tr class="table-row">
                <td class="table-data">1</td>
                <td class="table-data">Username</td>
                <td class="table-data">Level</td>
                <td class="table-data">Points</td>
           </tr>
            <tr class="table-row">
                <td class="table-data">2</td>
                <td class="table-data">Username</td>
                <td class="table-data">Level</td>
                <td class="table-data">Points</td>
           </tr>
            <tr class="table-row">
                <td class="table-data">3</td>
                <td class="table-data">Username</td>
                <td class="table-data">Level</td>
                <td class="table-data">Points</td>
           </tr>
           <tr class="table-row">
                <td class="table-data">4</td>
                <td class="table-data">Username</td>
                <td class="table-data">Level</td>
                <td class="table-data">Points</td>
           </tr>
           <tr class="table-row">
                <td class="table-data">5</td>
                <td class="table-data">Username</td>
                <td class="table-data">Level</td>
                <td class="table-data">Points</td>
           </tr>
             <tr class="table-row">
                <td class="table-data">6</td>
                <td class="table-data">Username</td>
                <td class="table-data">Level</td>
                <td class="table-data">Points</td>
           </tr>
            <tr class="table-row">
                <td class="table-data">7</td>
                <td class="table-data">Username</td>
                <td class="table-data">Level</td>
                <td class="table-data">Points</td>
           </tr>
            <tr class="table-row">
                <td class="table-data">8</td>
                <td class="table-data">Username</td>
                <td class="table-data">Level</td>
                <td class="table-data">Points</td>
           </tr>
           <tr class="table-row">
                <td class="table-data">9</td>
                <td class="table-data">Username</td>
                <td class="table-data">Level</td>
                <td class="table-data">Points</td>
           </tr>
           <tr class="table-row">
                <td class="table-data">10</td>
                <td class="table-data">Username</td>
                <td class="table-data">Level</td>
                <td class="table-data">Points</td>
           </tr>
    </tbody>
</table>