<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3>Hello "<%= title %>"</h3>
    <ul>
      <% for(var i = 0; i < people.length; i+=1) { %>
        <li><%= people[i]["name"] %></li>
      <% } %>
              
      <% include ./footer %>
    </ul>
  </body>
</html>