<!--<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
	<h3>Play</h3>
  
  </body>
</html> -->

<h1>Contact form:</h1>  
<form id="ajax-contact" method="POST" action="mailto:#">
    <div class="contact-field">
        <input type="email" id="contact-email" name="contact-email" placeholder="Username/email*" maxlength="30" required>
    </div>
    <div class="contact-field">
        <input type="text" id="contact-subject" name="contact-subject" placeholder="Subject*" maxlength="30" required>
    </div>

    <div class="contact-field">
        <textarea id="contact-message" name="contact-message" placeholder="Message*" maxlength="200" required></textarea>
    </div>
    <div class="contact-send-btn">
        <input type="button" id="contact-send" value="Send"></input>
    </div>
    <div class="contact-clear-btn">
        <input type="reset" id="contact-submit" value="Clear"></input>
    </div>
</form>