body, header, nav, main, aside, footer, div, li, ul, a, img {
    margin: 0;
    padding: 0;
}

html { 
height: 100%;
background-image: url('/images/body.jpg');
background-size: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
}


body {
    height: 120%;
    width: 100%;
   
}

#page-header, #page-nav, #page-main, #page-aside, #page-footer, #img-container {
   
}

#logo {
    width: 100%;
    height: 100%;
}


#page-header {  
    height: 22%;
    background-image: url('/images/header.jpg');
    background-size: 100%;
}

#page-nav {
    height: 6%;
    background-color: black;

}

#page-main {
    height: 65%; 
}

#page-section {
     height: 100%; 
 
}

#page-aside {
     height: 100%;
     opacity: 0.8 !important;
}

#page-footer {
    height: 23%;
    background-color: black;
}


#img-container, #title-container, #login-container, #form-login, #button-field, #input-field {
    height: 100%;
}

#logo {
    width: 80%;
    height: 80%;
}

#title {
     font-size: 2vw;
}

#form-login {
    margin: 7% auto 4% auto;
}

#username, #password {
    width: 60%;
    height: 20%;
    display: block;
    margin: 4% auto 2% auto;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
    font-size: 1vw;
}

#sign-in  {
    display: block;
    margin: 1% auto;
    height: 15%;
    width: 30%;
    font-size: 1vw;
    text-align: center;
    padding: 0% 2% 2% 2%;
}

#register {
    display: block;
    margin: 1% auto;
    height: 15%;
    width: 40%;
    padding: 0% 2% 2% 2%;
    font-size: 1vw;
}

#nav-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

#nav-ul {
    margin: 0
}

.nav-item {
    list-style-type: none;
    text-align: center;
    font-size: 12px;
    font-size: 1vw;
    cursor: pointer;
}


.nav-img {
    display: inline-block;
    margin-bottom: 10%;
    float: left;
    align-content: center;

    
}

a.nav-text {
    margin-top: 4%;
    margin-left: 1%;
    float: right;
}


.nav-text:hover {
    text-decoration: none;
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

#search-div {
    height: 100%;
}

.icon, .copyright {
    display: inline;
    text-align: center;
}

.copyright {
    margin: 0;
}

#page-content {
    font-size: 1vw;
    width: 100%;
}

#footer-icons {
    width: 100%;
    margin: 0;
 
}

#footer-copyright {
    text-align: center;
    margin: 1% auto 0 auto;
    font-size: 2vw;
    padding: 0;
    height: 100%;
}


h1, h2, h3, h4, h5, h6, p {
    font-size: 1vw;
    width: 100%;
}

#facebook {
    width: 100%;
    height: 150px;;
    padding: 0;
    overflow: scroll;
    margin: 0;
    border: none;
    display: inline;
}

iframe, object, embed {
    max-width: 100%;
    max-height: 100%;
}

.text-muted {
    margin-top: 1%;  
    font-size: 15px;

}

.social {
    margin: 0;
}

#shareTwitter {
    width: 140px;
    height: 50px;
    margin-top: 4px;
    display: inline;
    margin: 1%;
    max-width: 100%;
    max-height: 100%;
}

#followTwitter {
    width: 140px;
    height: 50px;
    display: inline;
    margin: 1%;
    max-width: 100%;
    max-height: 100%;
}

#youtube {
    width: 140px;
    height: 50px;
    display: inline;
    margin: 1%;
    max-width: 100%;
    max-height: 100%;
}


#sign-in-submit, #sign-in-register, #register-button, #register-clear, #contact-send, #contact-submit {
    width: 20%;
}

.sign-in-field input, .register-field input, .contact-field input {
        margin: 0;
        width: 50%;
        height: 30%
} 

#contact-message {
    width: 60%;
    height: 50%
}

/*#table-chart > thead, th, tbody, td, tr{
    border: 1px solid black;
} */

.table-row, .table-data{
   height: 4px;

} 

.btn {
    margin-top: 2%;
}

