<div id="pages" class="row"> 
    <div class="choose-page col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <img class="home-img img-responsive" src="../images/home-page.jpg" alt="Home page"> 
        <h3>PLAY</h3>
        <h5 class="descr">Here you can try the Ultimate Hangman</h5>
    </div> 
     <div class="choose-page col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <img class="rank-img img-responsive" src="../images/ranking.jpg" alt="Ranking page"> 
        <h3>RANKING</h3>
        <h5 class="descr">Here you can see the top players</h5>
    </div> 
    <div class="choose-page col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <img class="cont-img img-responsive" src="../images/contacts-page.jpg" alt="Contacts page"> 
        <h3>CONTACTS</h3>
        <h5 class="descr">Here you can send us an email</h5>
    </div> 
</div>
